.MainPayment{
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
  margin-bottom: 26px;
}


.Payment-box{
    display: flex;
    width: 100%;
    flex-direction: column;
    max-width: 904px;

    margin: 0 auto;
    padding-top: 23px;
    gap: 24px;
    /* height: 179px;
    left: 269px;
    top: 293px; */

    background: #FFFFFF;
    border: 0.942982px solid #ADADAD;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 11.3252px;

}
.boxContent{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.contentName{
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 700;
    font-size: 44.8871px;
    line-height: 54px;
    color: #484848;
}

.PaymentIcon{
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 700;
    font-size: 44.8871px;
    line-height: 54px;
    color: #484848;
}



@media(max-width : 991px){
    .MainPayment{
        width: 80%;
    }

}


@media (max-width : 651px) {
    .contentName{
    font-size: 30px;

    }
    .PaymentIcon{
        font-size: 30px;
    }
    
}

@media (max-width : 501px) {
    
    
    .Payment-box{
        gap: 10px;
        padding-top:13px;
}
    .contentName{
    font-size: 25px;

    }
    .PaymentIcon{
        font-size: 25px;
    }
    
}

@media (max-width :425px) {
    .Payment-box{
        gap: 8px;
        padding-top:10px;
}
    .contentName{
    font-size: 22px;

    }
    .PaymentIcon{
        font-size: 22px;
    }
    
    
}